.ProjectHeader-CompanyTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: dotted 1px hsla(var(--hue), var( --sat), 22%, 0.4);
  border-bottom: dotted 1px hsla(var(--hue), var( --sat), 22%, 0.4);
  margin-bottom: 15px;
  padding: 15px 20px 15px;
  background-color:  hsl(var(--hue), var( --sat), 22%);
}

.ProjectHeader-CompanyName {
  margin-bottom: 3px;
  font-size: 1.3rem;
  color: #fff;
  flex-basis: calc(100% - 40px);
}

.ProjectHeader-CompanyLink {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin-left: 5px;
  height: 16px;
}

.ProjectHeader-CompanyTag {
  font-size: 0.9rem;
  color: #888;
  margin-right: 5px;
}

.ProjectHeader-Link {
  padding: 8px;
}

.ProjectHeader-IconLink {
  opacity: 0.5;
  display: flex;
  margin-bottom: -8px;
  filter: invert(1);
}

.ProjectHeader-IconUp {
  opacity: 0.5;
  display: flex;
  filter: invert(1);
}

@media screen and (min-width: 480px) {
  .ProjectHeader-CompanyTitle {
    flex-direction: row;
  }
}

@media screen and (min-width: 640px) {
  .ProjectHeader-CompanyName {
    flex-basis: auto;
  }
}

@media print {
  .ProjectHeader-IconUp, .ProjectHeader-IconLink {
    display: none;
  }
}