.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Projects-Container {
  width: 100%;
}

.Projects-Project {
  margin-bottom: 20px;
}

.Projects-SubSection{ 
  padding: 0px 20px 15px;
}

.Projects-Description {
  margin-left: 10px;
  color: #666;
}

.Projects-SubHeader {
  margin-bottom: 10px;
}

.Projects-ListItems {
  margin-left: 10px;
  color: #666;
}

.Projects-ListItem {
  margin-bottom: 7px
}

.Projects-Gallery {
  display: flex;
  overflow-x: scroll;
  margin: 0 10px;
}

.Projects-GalleryImg {
  height: 200px;
  margin-right: 10px;
  border: solid 1px #aaa;
  opacity: 0.7;
  transition-duration: .3s;
  transition-property: opacity filter;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

.Projects-GalleryImg:hover, .Projects-GalleryImg:active {
  opacity: 1;
  filter: none;
}

@media print {
  .Projects {
    display: block;
  }

  .Projects-Project {
    page-break-after: always;
  }

  .Projects-Project:last-child {
    page-break-after: auto;
  }

  .Projects-Gallery {
    display: block;
    overflow: auto;
  }

  .Projects-GalleryImg {
    height: 150px;
    display: inline-block;
    margin-bottom: 10px;
    opacity: 1;
    transition-property: none;
    -webkit-filter: none;
    filter: none;
  }
}
