.Education {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Education-Row {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0px 20px 15px;
}

.Education-Daterange {
  font-size: 0.8rem;
  margin-bottom: 3px;
  color: #888;
}

.Education-Note {
  margin-left: 20px;
  font-size: 0.9rem;
  color: #666;
}

@media screen and (min-width: 480px) {
  .Education-Row {
    flex-direction: row;
  }

  .Education-Daterange {
    font-size: 1rem;
  }

  .Education-Row > *:nth-child(1) {
    flex-basis: 170px;
    flex-shrink: 0;
  }
}