.ProfileFoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ProfileFoto-Container {
  width: 100%;
  height: 100%;
  max-width: 180px;
  max-height: 180px;
  border-radius: 140px;
  overflow: hidden;
  margin-bottom: 30px
}

.ProfileFoto-Img {
  width: inherit;
}