.Home {
  padding: 30px 20px;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Home-Note {
  color: #888;
  margin-top: 15px;
}

.Home-Source {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #999;
  font-size: 0.8rem;
  font-style: italic;
  justify-content: flex-end;
}